@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative;
    max-width: 80px;
}
ul{
    display: flex;
    position: relative;
    list-style-type: none;
}
li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-right: 40px;
    text-decoration: none;
}
li a:hover{
    color: #017143;
    font-weight: 700;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.txtBox{
    position: relative;
    max-width: 600px;
}
h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
    cursor: pointer;
}
.txtBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    font-weight: 400;
    border-radius: 40px;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
}
.imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.imgBox img{
    max-width: 340px;
    max-height: 420px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
    height: 80px;
}
.socialLink{
    position: absolute;
    top: 37%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}
.socialLink li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}
.socialLink li a img{
    max-width: 50px;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}